extends layout

block content
    header.w3-container.w3-margin
        h1 Página Diploma #{diploma.id}

        b data: #{diploma.data}
        br
        b sumario: #{diploma.sumario}
        br
        b link: #{diploma.link}
        br
        b estado: #{diploma.estado}
        br
    
            

    footer.w3-container
        address.w3-right
            a(href="/") 
                button.w3-button.w3-margin Voltar